/* Navbar.css */

.navbar {
  background: linear-gradient(to bottom, #44a7ff, #1e3d5e);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

.bar.open {
  transform: rotate(45deg) translate(-3px, 3px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, -3px);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f7d488;
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: linear-gradient(to bottom, #44a7ff, #1e3d5e);
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links a {
    margin: 0;
    padding: 1rem 0;
  }
}
