*{
  font-family: 'REM', sans-serif;
  color: black;
  font-size: 10px;
}

.navbar {
  background: linear-gradient(180deg, rgb(233, 233, 233) 0%, rgb(255, 255, 255) 100%);
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
  padding: 10px;
  z-index: 2;
}

.navbar-content {
  display: flex;
  align-items: center;
}

a {
  text-decoration:none
}

img {
  width: 118px;
  height: auto;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 20px;
  cursor: pointer;
}

.account-button {
  margin-right: 5%;
  padding: 5px 10px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
