*{
  font-family: 'REM', sans-serif;
}
:root {
  --black: #1E1E1E;
  --bluePrimary: #59BCD7;
  --white : #fff;
  --topZIndex: 100;
}
body {
  scroll-snap-type: y mandatory;
}
html {
  font-size: 16px; 
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}